<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>A Web Page</title>
</head>
<body>
    <div class="container">
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="content">
            <h1>Contact Me!</h1>
            <form>
                Name: <input />
                Email: <input />
                Message: <textarea></textarea>
                <input type="submit" value="send" />
            </form>
        </div>
    </div>
</body>
</html>