<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>A Web Page</title>
</head>
<body>
    <div class="container">
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="content">
            <h1>About Me</h1>
            <div id="bio">
                <div>
                    <img src="/wwwroot/images/download.jfif">
                    <h3>Moose Philips</h3>
                    <h4>I like stuff!</h4>
                </div>
                <p id="biop">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna molestie at elementum eu facilisis. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse.</p>
            </div>
        </div>
    </div>
</body>
</html>