<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>A Web Page</title>
</head>
<body>
    <div class="container">
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="content">
            <h1>Here are some projects of mine!</h1>
            <div class="wrapper">
                <img src="/wwwroot/images/download (1).jfif">
                <div>
                    <h4>Cool Thing!</h4>
                    <p>A very cool project!</p>
                </div>
            </div>
            <div class="wrapper">
                <img src="/wwwroot/images/download (1).jfif">
                <div>
                    <h4>Cool Thing!</h4>
                    <p>A very cool project!</p>
                </div>
            </div>
            <div class="wrapper">
                <img src="/wwwroot/images/download (1).jfif">
                <div>
                    <h4>Cool Thing!</h4>
                    <p>A very cool project!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>